
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.content-main{
  min-height: calc(100vh - 60px);
}

body {
  font-family: 'Open Sans', sans-serif;
}

.contain-me {
  overflow: hidden;
}
h1 {
  font-family: 'Sansita', cursive;
  font-size: 5em !important;
  color: #3b395c;
}

h2 {
  font-family: 'Sansita', cursive;
  color: #3b395c;
}

link {
  color: #a2c4c2 !important;
}

.card {
  margin: 10px;
  border: 0px !important;
  box-shadow: 10px 10px 20px whitesmoke !important;
}

.card-home:hover{
  scale: 1.05;
}

.nav {
  padding-left: 20% !important;
  border-bottom: solid 1px #dee2e6 !important;
}

.nav-link{
  color: #619390 !important;
}

.nav-link:focus{
  color: #334e4c !important;
}

.footer{
  height:60px;
  background-color:#a2c4c2;
  position: relative;
  left: 0;
  bottom: 0;
}

.avatar {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 50;
  width: 20%;
}

@media screen and (max-width: 1440px) {
  .avatar {
    position: absolute;
    left: 15px;
    top: 20px;
    z-index: 50;
    width:250px;
  }
}

@media screen and (max-width: 1340px) {
  .avatar {
    position: absolute;
    left: 25px;
    top: 30px;
    z-index: 50;
    width:200px;
  }
}

@media screen and (max-width: 1240px) {
  .avatar {
    position: absolute;
    left: 15px;
    top: 50px;
    z-index: 50;
    width:175px;
  }
}

@media screen and (max-width: 1000px) {
  .avatar {
    position: absolute;
    left: 25px;
    top: 0px;
    z-index: 50;
    width:150px;
  }
}

.card-link {
  text-decoration: none;
  color: black;
}

.card-link:hover{
  color: black;
}

.phone-resource {
  margin: 10px;
  max-height:250px;
  border-radius: 25px 25px 0px 0px;
  border-width: 0 !important;
  background: whitesmoke;
  box-shadow: 10px 10px 20px whitesmoke !important;
  object-fit: cover;
}

.canva-div {
  position: relative; 
  width: 100%; 
  height: 0; 
  padding-top: 56.2500%;
  padding-bottom: 0; 
  box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); 
  margin-top: 1.6em; 
  margin-bottom: 0.9em; 
  overflow: hidden;
  border-radius: 8px; 
  will-change: transform;
}

.canva-iframe {
  position: absolute; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0; 
  border: none; 
  padding: 0;
  margin: 0;
}

.my-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.figmaIFrame{
  border: 1px solid rgba(0, 0, 0, 0.1);
  height:600px;
}

.figmaIFrame2{
  border: 1px solid rgba(0, 0, 0, 0.1);
  height:600px;
}